@model IEnumerable<RestaurantMVC.Models.Review>
@{
    //RestaurantMVC.Models.Review r;
    RestaurantMVC.Models.Review r;
    if (TempData["r"] != null) { r = (RestaurantMVC.Models.Review)TempData["r"]; }
    else { r = new RestaurantMVC.Models.Review(); r.RestaurantId = (int)TempData["id"]; }
}

<!DOCTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="~/Content/Reviews.css">
    <script src="~/Scripts/partialmodal2.js"></script>

    @if (r.Name != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                var modal = $('#modal'),
                    close = modal.find('.close'),
                    modContent = modal.find('.modal-content');

                // open modal on document ready
                modal.css('display', 'block');
                modContent.removeClass('modal-animated-out').addClass('modal-animated-in');

                $(document).on('click', function (e) {
                    var target = $(e.target);
                    if (target.is(modal) || target.is(close)) {
                        modContent.removeClass('modal-animated-in').addClass('modal-animated-out').delay(300).queue(function (next) {
                            modal.css('display', 'none');
                            next();
                        });
                    }
                });
            });
        </script>
    }
</head>

<body>
    <div>
        <ol class="list">
            @foreach (var review in Model)
            {
                <li class="item">
                    <h2 class="headline">@review.Name <tab></tab> <mark style="background-color: aliceblue; margin-left:1em">@review.Rating</mark></h2>
                    <span>
                        @review.Summary
                    </span>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-8">
                            @Html.ActionLink("Edit", "Edit", "Review", new { reviewId = review.ReviewId, restaurantId = review.RestaurantId, name = review.Name, summary = review.Summary, rating = review.Rating }, new { @class = "btn btn-success nounderline", id = "modBtn" })
                        </div>
                        <div class="but col-md-2">
                            @using (Html.BeginForm("Delete", "Review", FormMethod.Post))
                            {
                                <input type="hidden" value=@review.ReviewId name="id" />
                                <input type="hidden" value=@review.RestaurantId name="resId" />
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            }
                        </div>
                    </div>
                </li>
            }
        </ol>
        <div class="well well-sm">
            <btn class="btn btn-success text-right col-md-4" id="modBtn2" style="margin-left:190px; margin-bottom: 50px;">Add Review</btn>
        </div>
    </div>
    @Html.Partial("/Views/Review/_PartialAdd.cshtml", r)
</body>
</html>
