@model RestaurantMVC.Models.Restaurant

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.LabelFor(Model => Model.Name);
            @Html.EditorFor(Model => Model.Name, new { htmlAttributes = new { @placeholder = "Name", @required = "required" } });
            @Html.ValidationMessageFor(Model => Model.Name)

            @Html.LabelFor(Model => Model.Address);
            @Html.EditorFor(Model => Model.Address, new { htmlAttributes = new { @placeholder = "Address", @required = "required" } });
            @Html.ValidationMessageFor(Model => Model.Name)
            <input type="submit" value="Add" />
        }
    </div>
</body>
</html>
