@model IEnumerable<RestaurantMVC.Models.Restaurant>
@{
    RestaurantMVC.Models.Restaurant r;
    if (TempData["r"] != null) { r = (RestaurantMVC.Models.Restaurant)TempData["r"]; }
    else { r = new RestaurantMVC.Models.Restaurant(); }
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Restaurants.css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/Restaurants.js"></script>
    <script src="~/Scripts/partialmodal.js"></script>

    @if (TempData["r"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                var modal = $('#modal'),
                    close = modal.find('.close'),
                    modContent = modal.find('.modal-content');

                // open modal on document ready
                modal.css('display', 'block');
                modContent.removeClass('modal-animated-out').addClass('modal-animated-in');

                $(document).on('click', function (e) {
                    var target = $(e.target);
                    if (target.is(modal) || target.is(close)) {
                        modContent.removeClass('modal-animated-in').addClass('modal-animated-out').delay(300).queue(function (next) {
                            modal.css('display', 'none');
                            next();
                        });
                    }
                });
            });
        </script>
    }
</head>

<body>
    <div class="container">
        <div class="well well-sm">
            <strong>Display</strong>
            <div class="btn-group">
                <a href="#" id="list" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th-list">
                    </span>List
                </a> <a href="#" id="grid" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th"></span>Grid
                </a>
            </div>
            <strong style="margin-left:80px;">Sort By</strong>
            <form action="../Restaurant/RestaurantsSort" method="post" class="btn-group" style="margin-top: 10px;">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="name" id="name" autocomplete="off" value=true checked> <span class="glyphicon glyphicon-font"></span>Name
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="name" id="name" autocomplete="off" value=false> <span class="glyphicon glyphicon-star"></span>Rating
                    </label>
                </div>

                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="asc" id="asc" autocomplete="off" value=true checked><span class="glyphicon glyphicon-arrow-up"></span> Asc
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="asc" id="asc" autocomplete="off" value=false><span class="glyphicon glyphicon-arrow-down"></span> Desc
                    </label>
                </div>

                <input type="submit" id="list" class="btn btn-default btn-sm" value="Sort" style="margin-top: 5px;" />
            </form>

            <btn class="btn btn-success text-right" id="modBtn" style="margin-left:80px; float:right; margin-top: 12px;">Add Restaurant</btn>
        </div>

        <div id="products" class="row list-group">
            @foreach (var restaurant in Model)
            {
                <div class="item  col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <img class="group list-group-image" src=@restaurant.Image alt="" />
                        <div class="caption">

                            <h4 class="group inner list-group-item-heading">
                                @restaurant.Name
                            </h4>
                            <p class="group inner list-group-item-text" style="font-size:14px;">
                                @restaurant.Address
                            </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-2">
                                    <p class="lead font-weight-bold" style="font-size:24px; margin-left:0px;">
                                        @restaurant.Rating
                                    </p>
                                </div>
                                <div class="but col-xs-12 col-md-3">
                                    @*<a class="btn btn-success" href="http://www.jquery2dotnet.com">Reviews</a>*@
                                    @Html.ActionLink("Reviews", "Reviews", "Review", new { id = restaurant.id }, new { @class = "btn btn-success" })
                                </div>
                                <div class="but col-xs-12 col-md-3">
                                    @*<a class="btn btn-success" href="http://www.jquery2dotnet.com">Reviews</a>*@
                                    @Html.ActionLink("Edit", "Edit", "Restaurant", new { Id = restaurant.id, name = restaurant.Name, address = restaurant.Address, image = restaurant.Image }, new { @class = "btn btn-success", id = "modBtn" })
                                </div>
                                <div class="but col-xs-12 col-md-3">
                                    @*<a class="btn btn-success" href="http://www.jquery2dotnet.com">Reviews</a>*@
                                    @*@Html.ActionLink("Delete", "Delete", "Restaurant", new { id = restaurant.id }, new { @class = "btn btn-danger" })*@
                                    @using (Html.BeginForm("Delete", "Restaurant", FormMethod.Post))
                                    {
                                        <input type="hidden" value=@restaurant.id name="id" />
                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    @Html.Partial("/Views/Restaurant/_PartialAdd.cshtml", r)
</body>
</html>


