@model IEnumerable<RestaurantMVC.Models.Restaurant>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="~/Content/Index.css">

</head>

<body>
    <div class="bgimage img-responsive">
        <div class="container-fluid" id="navbar">
            <ul class="list-inline" id="action-list">
                <li class="text-left">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="text-left">@Html.ActionLink("Restaurants", "Restaurants", "Restaurant")</li>
                @*TODO: Implement identity*@
                @*@using Microsoft.AspNet.Identity
                    @if (Request.IsAuthenticated)
                    {

                        <li class="text-right" style="float:right;">
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                            }
                        </li>
                        <li class="text-right" style="float:right;">@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    }
                    else
                    {*@
                <li class="text-right" style="float:right;">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                @*<li class="text-right" style="float:right;">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
                <li id="modBtn" class="text-right" style="float:right;">Login</li>
                @*}*@
            </ul>
        </div>
        <div class="container-fluid" id="search-container">
            <div class="row align-items-center">
                <h1>Welcome to Restaurant Reviews!</h1>
                <div class="input-group">
                    <input id="search" type="text" class="form-control input-lg" name="search" placeholder="Search for Restaurants" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
        </div>
    </div>

    @*@{ Html.RenderPartial("_PartialRestaurants", Model); }*@
    <div id="products" class="row list-group">
        <div class="col-md-1"></div>
        @foreach (var restaurant in Model)
    {
        <div class="item  col-md-3">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://warriortradingnews.com/wp-content/uploads/2016/01/MCD-Logo.png" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        @restaurant.Name
                    </h4>
                    <p class="group inner list-group-item-text">
                        @restaurant.Address
                    </p>
                    <div class="row">
                        <div class="col-xs-8 col-md-4">
                            <p class="lead">
                                @restaurant.Rating
                            </p>
                        </div>
                        <div class="col-xs-8 col-md-4">
                            @*<a class="btn btn-success" href="http://www.jquery2dotnet.com">Reviews</a>*@
                            @Html.ActionLink("Reviews", "Reviews", "Restaurant", new { list = restaurant.Reviews }, new { @class = "btn btn-success"})
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
    </div>
        <footer class="footer">
            <ul>
                <li class="text-right" style="float:right;">@Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { id = "Contact" })</li>
                <li class="text-right" style="float:right;">@Html.ActionLink("About", "About", "Home", routeValues: null, htmlAttributes: new { id = "About" })</li>
            </ul>
        </footer>

        @*@Html.Partial("/Views/Account/Login.cshtml")*@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
